<div class="container_1">
  <div class="image">
    <%= image_tag "planta_1.jpg" %>
  </div>

  <div class="header">
    <div class="planta">
      <h1>Planta</h1>
    </div>
    <p>{ sprout, shoot, cutting }</p>
  </div>
</div>

<div class="container_2">
  <div class="byline">
    <div class="p-right">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="image_2">
    <%= image_tag "planta_2.jpg" %>
  </div>
</div>
